@font-face {
  font-family: 'Inter Tight';
  src: url('./InterTight-Bold.woff2') format('woff2'),
      url('./InterTight-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('./InterTight-SemiBold.woff2') format('woff2'),
      url('./InterTight-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('./InterTight-Medium.woff2') format('woff2'),
      url('./InterTight-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('./InterTight-Regular.woff2') format('woff2'),
      url('./InterTight-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('./InterTight-Light.woff2') format('woff2'),
      url('./InterTight-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
